.homes {
    grid-column: center-start / center-end;
    margin: 15rem 0;

    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(25rem , 1fr));
    gap: 6rem;

    @media only screen and (max-width: $bp-medium) {
        margin: 8rem 0;
    }
}

.home {
    background-color: $color-grey-light-1;

    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    row-gap: 3rem;

    @media only screen and (max-width: $bp-medium) {
        row-gap: 5rem;
    }
    
    &__img {
        width: 100%;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        z-index: 10;
    }

    &__like {
        fill: $color-primary;
        width: 2.5rem;
        height: 2.5rem;
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        justify-self: end;
        margin: 1rem;
        z-index: 20;
    }

    &__heading {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        align-self: end;
        justify-self: center;
        z-index: 30;

        background-color: $color-secondary;
        width: 80%;
        font-size: 1.6rem;
        font-family: $font-display;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        color: #fff; 
        padding: 1.25rem;
        transform: translateY(50%);
    }

    &__location ,
    &__rooms {
        margin-top: 2rem;
    }

    &__location ,
    &__rooms , 
    &__area ,
    &__price {

        font-size: 1.5rem;
        margin-left: 2rem;
        display: flex;
        
        svg {
            fill: $color-primary;
            width: 2rem;
            height: 2rem;
            margin-right: 1rem;
        }
    }

    &__btn {
        grid-column: 1 / -1;
    }
}
